.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  margin: 0;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}
