.modal__switch {
  margin: 32px 0 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.modal__switch-button {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: "Cabinet Grotesk", Arial, Helvetica;
}

.modal__switch-button:hover {
  color: rgba(0, 0, 0, 1);
}

.modal__actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal__login {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-family: "Cabinet Grotesk", Arial, Helvetica;
  font-size: 16px;
  margin: 32px 0 0;
  border: none;
  width: 73px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.modal__login_disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
}

.modal__label_error {
  color: rgba(255, 77, 0, 1);
}

.modal__input_error {
  border-bottom: 1px solid rgba(255, 77, 0, 1);
  color: rgba(255, 77, 0, 1);
}
